      {{!-- {{#each list}}
        <div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
        <a href="">
            <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Lights" style="width:100%">
            <div class="caption">
            <p>{{ this.Price}}</p>
            <p>{{ this.Quantity}}</p>
            <p>{{ this.Description}}</p>
            <p>{{ this.Category}}</p>
            </div>
        </a>
        </div>
    </div>
{{/each}}     --}}

<div class="container" style ="padding:100px 0 0 0">
            <div class="row">
                {{#each list}}
                <div class="col-md-4">
                    <div class="card-mb-4"> 
                        <img src="https://www.w3schools.com/w3images/lights.jpg" alt="" class = "card-img-top" width="270px" height="270px">
                        <div class ="card-body">
                            <h5 class = "card-title">Name: {{ this.ToyName }}</h5>
                            <p class = "card-text">Quantity: {{ this.Quantity }}</p>
                            <p class = "card-text">Description: {{ this.Description }}</p>
                            <p class = "card-text">Category: {{ this.Category }}</p>
                            <div class = "d-flex justify-content-between align-item-center">
                                <a href="" class="btn btn-dark">View details</a>
                                <span class = "h5 mt-auto" align = "right" style="margin-left: 140px;">{{ this.Price }} $
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>
    </div>



    
