<h3>{{viewTitle}}</h3>
<form action="/toyshop" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{toy._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="ToyName" value="{{toy.ToyName}}" placeholder="Full Name">
        <div class="text-danger">
            {{!-- {{employee.fullNameError}} --}}
        </div>
    </div>
    <div class="form-group">
        <label>Image Path</label>
        <input type="text" class="form-control" name="ImagePath" value="{{toy.ImagePath}}" placeholder="Email">
        <div class="text-danger">
            {{!-- {{employee.emailError}} --}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group md-6">
            <label>Price</label>
            <input type="text" name="Price" placeholder="Price" value="{{toy.Price}}" class="form-control">

        </div>
        <div class="form-group md-6">
            <label>Quantity</label>
            <input type="text" name="Quantity" placeholder="Quantity" value="{{toy.Quantity}}" class="form-control">
        </div>
        <div class="form-group md-6">
            <label>Description</label>
            <input type="text" name="Description" placeholder="Description" value="{{toy.Description}}" class="form-control">

        </div>
        <div class="form-group md-6">
            <label>Description</label>
            <input type="text" name="Category" placeholder="Description" value="{{toy.Category}}" class="form-control">

        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
        <a href="/toyshop/list" class="btn btn-danger">
            <i class="fa fa-list-alt"></i>View All
        </a>
    </div>
</form>